@import "../base";

div[data-uploadurl] {
  text-align: center;
  height: 80px;
  border: 1px dashed
  font-family: Helvetica;
  size: 40px;
  line-height: 80px;
}

div[data-uploadurl].hover {
  color: #fff;
  border-color: #f000;
  border-style: solid;
  background-color: #222;
}
